section.kv-section.home-field
	.container
		.main-title.color-main lĩnh vực hoạt động
		.row
			.col-xl-5.col-lg-12
				.col-left
					.content.f-16.fw-300 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
			.col-xl-7.col-lg-12
				.col-right.d-flex.flex-wrap.justify-center
					.item.zoom-img
						.img
							a(href="")
								img.lazyload(data-src="./img/index/field-1.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase xây lắp
					.item.zoom-img
						.img
							a(href="")
								img.lazyload(data-src="./img/index/field-2.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase thương mại
					.item.zoom-img
						.img
							a(href="")
								img.lazyload(data-src="./img/index/field-3.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase nước ngoài
					.item.zoom-img
						.img
							a(href="")
								img.lazyload(data-src="./img/index/field-4.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase đầu tư
				.col-right-mobile
					.item
						.img
							a(href="")
								img.lazyload(data-src="./img/index/f-1.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase xây lắp
					.item
						.img
							a(href="")
								img.lazyload(data-src="./img/index/f-2.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase thương mại
					.item
						.img
							a(href="")
								img.lazyload(data-src="./img/index/f-3.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase nước ngoài
					.item
						.img
							a(href="")
								img.lazyload(data-src="./img/index/f-4.png", alt="")
								.content.f-36.fw-700.color-white.text-uppercase đầu tư
