section.kv-section.home-partner
	.container
		.main-title.color-main khách hàng - đối tác
		.tab-panels
			.row
				.col-lg-6
					.catalog-box.d-flex.justify-center.align-center
						.text.f-18.fw-700.color-white Danh mục
						em.material-icons expand_more
					ul.tabs.flex-column
						li.item.f-18.d-flex.align-center.justify-between.active(rel='panel-1') Cao tầng - Thương mại
							em.material-icons arrow_forward_ios
						li.item.f-18.d-flex.align-center.justify-between(rel='panel-2') Công nghiệp
							em.material-icons arrow_forward_ios
						li.item.f-18.d-flex.align-center.justify-between(rel='panel-3') Khách sạn - Khu nghỉ dưỡng
							em.material-icons arrow_forward_ios
						li.item.f-18.d-flex.align-center.justify-between(rel='panel-4') Giáo dục
							em.material-icons arrow_forward_ios
						li.item.f-18.d-flex.align-center.justify-between(rel='panel-5') Đối tác
							em.material-icons arrow_forward_ios
				.col-lg-6
					#panel-1.panel.active
						.single-swiper
							.swiper-container
								.swiper-wrapper
									-for(i=1; i<10; i++)
										.swiper-slide
											.item-partner
												img.lazyload(data-src="./img/index/partner-1.png" alt="")
							.swiper-button-next
							.swiper-button-prev
							.swiper-pagination
					#panel-2.panel
						.single-swiper
							.swiper-container
								.swiper-wrapper
									-for(i=1; i<10; i++)
										.swiper-slide
											.item-partner
												img.lazyload(data-src="./img/index/partner-2.png" alt="")
							.swiper-button-next
							.swiper-button-prev
							.swiper-pagination
					#panel-3.panel
						.single-swiper
							.swiper-container
								.swiper-wrapper
									-for(i=1; i<10; i++)
										.swiper-slide
											.item-partner
												img.lazyload(data-src="./img/index/partner-3.png" alt="")
							.swiper-button-next
							.swiper-button-prev
							.swiper-pagination
					#panel-4.panel
						.single-swiper
							.swiper-container
								.swiper-wrapper
									-for(i=1; i<10; i++)
										.swiper-slide
											.item-partner
												img.lazyload(data-src="./img/index/partner-3.png" alt="")
							.swiper-button-next
							.swiper-button-prev
							.swiper-pagination
					#panel-5.panel
						.single-swiper
							.swiper-container
								.swiper-wrapper
									-for(i=1; i<10; i++)
										.swiper-slide
											.item-partner
												img.lazyload(data-src="./img/index/partner-2.png" alt="")
							.swiper-button-next
							.swiper-button-prev
							.swiper-pagination

