#overlay
	opacity: 0
	visibility: hidden
	pointer-events: none

	background-color: rgba(0, 0, 0, .8)
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 150
	transition: .3s all ease-in-out

	&.active
		opacity: 1
		visibility: visible
		pointer-events: visible
.overflow-hidden
	overflow: hidden
.ovh
	width: 100%
	height: 100%
	object-fit: cover
	overflow: hidden

.type-none
	+type-none()
.tab-panels
	.tabs
		padding: 0
		list-style: none
		display: flex
		.item
			cursor: pointer
			&::after
				background-color: #ffffff
			&.active
				background-color: $main
				font-weight: 700
				color: $white
				transition: all .3s ease-in-out

	.panel
		display: none
		&.active
			display: block
.pagination
	+type-none()
	display: flex
	align-items: center
	justify-content: center
	margin-top: 40px
	cursor: pointer
	width: 100%
	li
		&+li
			margin-left: 30px
		a, span
			display: block
			color: $gray
			font-size: 1rem
			font-weight: 500
			letter-spacing: 0.45px
			width: 40px
			height: 40px
			border: 1px solid #e0e0e0
			border-radius: 0
			display: flex
			align-items: center
			justify-content: center
			transition: .3s all ease-in-out
			&:hover
				background-color: $main
				color: $white
				transition: .4s all ease-in-out
				border: 2px solid transparent
		&.active
			a, span
				background-color: $main
				border: 2px solid transparent
				color: $white
.zone-nav
	position: relative
	z-index: 2
	&.scolled
		position: fixed
		z-index: 999
		top: 0
		left: 50%
		transform: translateX(-50%)
		@media screen and ( max-width: 991px)
			max-width: 80px
			max-height: 60px
			padding-left: 0
			right: 0
			transform: none
			left: unset
			.categroly
				.box-category
					p
						font-size: 0
					.material-icons
						font-size: 30px
				ul
					position: absolute
					top: 0
					right: -500%
					background-color: #f3f3f3
					min-width: 250px
					opacity: 0
					visibility: hidden
				&.active
					ul
						right: 100%
						opacity: 1
						visibility: visible
	.categroly
		.box-category
			width: 100%
			height: 50px
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer
			line-height: 50px
			background-color: $main
			p
				color: #ffffff
				font-size: 16px
				font-weight: 600
			.material-icons
				color: #ffffff
				transform: rotate(0deg)
				transition: .3s
				&.active
					transform: rotate(90deg)
					transition: .3s
			@media screen and ( max-width: 991px)
				width: 100%
			@media screen and ( min-width: 992px)
				display: none
		ul
			max-width: 100%
			display: flex
			list-style: none
			align-items: center
			justify-content: center
			padding-left: 0
			margin: 0 auto
			li
				position: relative
				width: 230px
				height: 60px
				margin-right: 1px
				background-color: #f3f3f3
				.nav-link
					color: $title
					line-height: 24px
					text-align: center
					min-width: 100%
					padding: 1.1rem 0
				&:first-child
					margin-left: 0
				&:last-child
					margin-right: 0
				&:hover,
				&.active
					background-color: $main

		@media screen and ( max-width: 1280px)
			ul
				li
					.nav-link
						padding: .9rem
		@media screen and ( max-width: 1199px)
			ul
				li
					.nav-link
						padding: .5rem .3rem
	@media screen and ( max-width: 991.98px)
		position: absolute
		right: 0
		top: 50%
		width: 50px
		height: 50px
		padding-left: 0
		z-index: 2
		.container
			padding: 0
		.categroly
			.box-category
				p
					font-size: 0
				.material-icons
					font-size: 30px
			ul
				position: absolute
				top: 0
				right: 200%
				background-color: #f3f3f3
				min-width: 250px
				opacity: 0
				visibility: hidden
				width: 100%
				margin: unset
				flex-direction: column
				z-index: 2
				li
					width: 100%
					text-align: center
					margin: 0
					border-bottom: 1px solid $main
			&.active
				ul
					right: 100%
					opacity: 1
					visibility: visible
.cmsadminpanel ul
	list-style: none
.opacity
	position: relative
	pointer-events: none
	&::after
		visibility: visible
		position: absolute
		width: 100%
		height: 100%
		content: ''
		top: 0
		left: 0
		background-color: $opacity
.ModuleContent
	width: 100%
.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--video .fancybox-content
	width: 100% !important
	height: 100% !important
	overflow: unset !important
.kv-toggle
	cursor: pointer
	position: relative
	padding: 0
	width: 80px
	height: 60px
	border-radius: 30px 0px 30px 0px
	background-color: $red
	transition: .3s all linear
	span
		display: block
		position: absolute
		height: 5px
		width: 50%
		background: $white
		opacity: 1
		left: 50%
		transform: rotate(0deg) translate(-50%, -50%)
		transition: .5s ease-in-out
		&:nth-child(1)
			top: 20px
		&:nth-child(2),
		&:nth-child(3)
			top: 30px
		&:nth-child(4)
			top: 40px
	&.active
		span
			&:nth-child(1)
				top: 18px
				width: 0%
				left: 50%
			&:nth-child(2)
				-webkit-transform: rotate(45deg)
				-moz-transform: rotate(45deg)
				-o-transform: rotate(45deg)
				transform: rotate(45deg)
			&:nth-child(3)
				-webkit-transform: rotate(-45deg)
				-moz-transform: rotate(-45deg)
				-o-transform: rotate(-45deg)
				transform: rotate(-45deg)
			&:nth-child(4)
				top: 18px
				width: 0%
				left: 50%
	@media screen and ( max-width: 575.98px)
		width: 65px
		height: 50px
		span
			&:nth-child(1)
				top: 15px
			&:nth-child(2),
			&:nth-child(3)
				top: 25px
			&:nth-child(4)
				top: 35px
.swiper-button-next,
.swiper-button-prev
	width: 50px !important
	height: 50px !important
	background-color: rgba($color: #000000, $alpha: 0.502)
	border: none
	text-align: center
	top: 50%
	transform: translateY(-50%)
	&:focus
		outline: none !important
.swiper-button-next
	&::after
		content: url('../img/icon/right.png') !important
.swiper-button-prev
	&::after
		content: url('../img/icon/left.png') !important
.catalog-box
	width: 100%
	line-height: 40.14px
	cursor: pointer
	margin-bottom: 10px
	background-color: $main
	.material-icons
		color: $white
		transform: rotate(0deg)
		transition: all 1s cubic-bezier(.22, .44, 0, 1)
		&.active
			transform: rotate(180deg)
	@media screen and ( min-width: 991.98px)
		display: none
.list-tabs
	.tabs,
	.tabs-detail
		display: flex
		list-style: none
		padding-left: 0
		.item
			cursor: pointer
			position: relative
			display: flex
			align-items: center
			padding: 0 35px
			span
				position: relative
				font-size: 18/16*1rem
				font-weight: 300
				color: $gray
				line-height: 40.14px

			&:first-child
				padding-left: 0
			+ li
				&::before
					content: ""
					top: 50%
					transform: translateY(-50%)
					left: 0
					position: absolute
					background-color: #767676
					width: 1px
					height: 18px
			&.active
				background: none
				span
					color: $main
					font-weight: 700
					&::after
						position: absolute
						content: ''
						width: 100%
						height: 2px
						background-color: $main
						top: 100%
						left: 0
						z-index: 99
	.project
		display: none
		&.active
			display: block
	@media screen and ( max-width: 991.98px )
		.tabs
			.item
				padding: 0 10px
	@media screen and ( max-width: 767.98px )
		.tabs
			.item
				padding: 0 5px
				span
					font-size: 1rem
					line-height: 30px
	@media screen and ( max-width: 575.98px )
		.tabs
			display: none
			.item
				&::before
					display: none
.bottom-wrapper
	width: 100%
	border-bottom: 1px solid #e1e1e1
	.social
		display: flex
		list-style: none
		padding: 0
		padding-bottom: 10px
		li
			width: 30px
			height: 30px
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			margin-left: 10px
			transition: all .9s

			a
				em
					font-size: 20px
					font-weight: 900
			&:first-child
				border: solid 1px #38569a
				a
					em
						color: #38569a
			&:last-child
				border: solid 1px #0a66c2
				a
					em
						color: #0a66c2
			&:hover
				&:first-child
					background-color: #38569a
				&:last-child
					background-color: #0a66c2
				a
					em
						color: $white
.container--tabs
	margin: 2rem
	.nav-tabs
		float: left
		width: 100%
		margin: 0
		list-style-type: none
		padding: 0
		display: flex
		list-style: none
		align-items: center

		> li
			float: left
			position: relative
			display: flex
			align-items: center
			padding: 0 35px

			> a
				float: left
				margin-right: 2px
				position: relative
				font-size: 18/16*1rem
				font-weight: 300
				color: $gray
				line-height: 40.14px

			&:first-child
				padding-left: 0
			+ li
				&::before
					content: ""
					top: 50%
					transform: translateY(-50%)
					left: 0
					position: absolute
					background-color: #767676
					width: 1px
					height: 18px

			&.active
				> a
					color: $main
					cursor: default
					font-weight: 700
					&::after
						position: absolute
						content: ''
						width: 100%
						height: 2px
						background-color: $main
						top: 100%
						left: 0
						z-index: 99
		.close
			font-size: 18/16*1rem
			color: $gray
			font-weight: 300
			line-height: 24px
			cursor: pointer
			margin-left: auto
			position: relative
			&::after
				position: absolute
				content: ''
				width: 100%
				height: 1px
				background-color: $gray
				top: 100%
				left: 0
		@media screen and ( max-width: 575.98px )
			li
				padding: 0 10px
				&:first-child
					padding-left: 0

	.tab-content
		float: left
		width: 100%

		> .tab-pane
			display: none

			&.active
				display: block
				padding: 2.5% 3.5%
				background-color: #efefef

		> .active
			display: block
html.whiteskins .cmstable,
body.whiteskins .cmstable
	tbody
		tr
			td
				&:nth-child(2)
					img
						width: 150px !important
