<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <newstype name="Tin tức" value="0"></newstype>
    <showoption name="Hot" value="1"></showoption>
    <showoption name="Mới" value="2"></showoption>
    <showoption name="Sắp hết hạn" value="4"></showoption>
    <templatelist xsltname="NewsList.xslt" name="Danh sách tin tức"></templatelist>
    <templatelist xsltname="ThongDiep.xslt" name="Thông điệp tổng giám đốc"></templatelist>
    <templatelist xsltname="TuyenDung.xslt" name="Danh sách tuyển dụng"></templatelist>
    <templatelist xsltname="Contact.xslt" name="Danh sách liên hệ"></templatelist>
    <!-- Chi tiết tin tức layout -->
    <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin tức"></templatedetail>
    <templatedetail xsltname="TuyenDungDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
    <!-- Vị trí đặc biệt -->
    <position>
        <add name="Tin tức sự kiện" value="1" resourcefile="" />
        <add name="Cao tầng - thương mại" value="2" resourcefile="" />
        <add name="Công nghiệp" value="4" resourcefile="" />
        <add name="Khách sạn - Khu nghỉ dưỡng" value="8" resourcefile="" />
        <add name="Giáo dục" value="16" resourcefile="" />
        <add name="Đối tác" value="32" resourcefile="" />
        <add name="Đại gia đình Sol home" value="64" resourcefile="" />
        <add name="Tin tức đặc biệt" value="128" resourcefile="" />
    </position>
</templates>
