section.kv-section.about-leader
	.tab-panels.list-tabs
		.container
			ul.tabs
				li.item.active(rel='panel-1')
					span Ban lãnh đạo
				li.item(rel='panel-2')
					span Cán bộ quản lý
		.wrapper-content#panel-1.panel.active
			.container
				.row
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-1.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-2.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-3.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-4.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
		.wrapper-content#panel-2.panel
			.container
				.row
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-1.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-2.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-3.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
					.col-lg-3.col-md-4.col-sm-6
						.leader-item.zoom-img
							.img
								a(data-fancybox data-src="#popup" href="javascript:;")
									img.lazyload(data-src="./img/about/bld-4.png" alt="")
							.content
								a(data-fancybox data-src="#popup" href="javascript:;")
									.name.f-24.fw-700.text-capitalize.color-main lê chí trung
									.desc.f-14.fw-400.text-uppercase ceo
#popup(style='display: none;')
	.leader-detail.d-flex
		.col-left
			.img
				img.lazyload(data-src="./img/about/bld-1.png" alt="")
		.col-right
			.title.f-24.fw-700.text-capitalize.color-main lễ chí trung
			.sub-title.f-14.fw-400.text-uppercase ceo
			.desc
				p Ông Lê Chí Trung bắt đầu quá trình công tác tại Coteccons Group từ năm 2002 và từng giữ nhiều chức vụ quan trọng như: Giám đốc Khối xây lắp Coteccons, Giám đốc Khối Kinh tế Coteccons, Phó Tổng Giám đốc Unicons…
				p Với tư duy chiến lược nhạy bén, phong cách lãnh đạo điềm tĩnh, quyết đoán, ông Lê Chí Trung đã có nhiều đóng góp quan trọng cho sự tăng trưởng bền vững của Coteccons Group nói chung và Unicons nói riêng trong nhiều năm qua. 

				p Tháng 6/2018. ông Lê Chí Trung được Hội đồng Thành viên Unicons bổ nhiệm vị trí Tổng Giám đốc công ty. Bằng kỹ năng, kinh nghiệm và tính cách mạnh mẽ của mình, ông Lê Chí Trung sẽ dẫn dắt Unicons bứt phá cùng sự phát triển của Coteccons Group.

