.tab-panels.list-tabs
	.container
		ul.tabs
			li.item.active(rel='panel-1')
				span Tổng quan
			li.item(rel='panel-2')
				span Cơ cấu tổ chức
	section.kv-section.about-page
		.container
			.wrapper-content#panel-1.panel.active
				.wrap-img
					.img
						img.lazyload(data-src="./img/about/tongquan.png" alt="")
				.wrap-content
					p Được thành lập từ năm 2015, đã khẳng định năng lực và uy tín thương hiệu với việc tham gia hàng trăm dự án quy mô trên cả nước trong lĩnh vực chống thấm cũng như cung các các sản phẩm vật liệu và giải pháp thi công hiệu quả cho các Chủ đầu tư, khách hàng, đối tác trong và ngoài nước.

					p Hiện nay, với chiến lược kinh doanh mới, dựa trên nền tảng con người và kinh nghiệm được tích lũy, lĩnh vực Xây lắp sẽ được tập trung phát triển và đẩy mạnh trong những năm tới bên cạnh những mảng kinh doanh truyền thống là Thương mại và Thi công Chống thấm - Hoàn thiện. 

					p Chuyên nghiệp, Đam mê và Cải tiến là những giá trị cốt lõi và SOL hướng đến trong mọi lĩnh vực hoạt động nhằm mang đến giá trị gia tăng cao nhất cho Khách hàng, Đối tác và toàn thể Cán bộ nhân viên Công ty.
			.wrapper-content#panel-2.panel
				.wrap-img
					.img
						img.lazyload(data-src="./img/about/tongquan.png" alt="")
				.wrap-content
					p Được thành lập từ năm 2015, đã khẳng định năng lực và uy tín thương hiệu với việc tham gia hàng trăm dự án quy mô trên cả nước trong lĩnh vực chống thấm cũng như cung các các sản phẩm vật liệu và giải pháp thi công hiệu quả cho các Chủ đầu tư, khách hàng, đối tác trong và ngoài nước.

					p Hiện nay, với chiến lược kinh doanh mới, dựa trên nền tảng con người và kinh nghiệm được tích lũy, lĩnh vực Xây lắp sẽ được tập trung phát triển và đẩy mạnh trong những năm tới bên cạnh những mảng kinh doanh truyền thống là Thương mại và Thi công Chống thấm - Hoàn thiện. 

					p Chuyên nghiệp, Đam mê và Cải tiến là những giá trị cốt lõi và SOL hướng đến trong mọi lĩnh vực hoạt động nhằm mang đến giá trị gia tăng cao nhất cho Khách hàng, Đối tác và toàn thể Cán bộ nhân viên Công ty.
