section.kv-section.home-news
	.container
		.main-title.color-main tin tức - sự kiện
		.row
			.col-lg-3.col-md-6
				.news-item.zoom-img
					.img
						a(href="")
							img.lazyload(data-src="./img/index/new-1.png" alt="")
					.content-wrapper.d-flex.flex-column.justify-between
						a.title.f-20.fw-800.color-main.line-30.color-main.lcl.lcl-3(href="") Ký kết hợp tác thi công cùng CĐT PiGroup trong dự án PiCity High Park 
						time 22/10/2020
						.desc.f-16.fw-300.line-30 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
			.col-lg-3.col-md-6
				.news-item.zoom-img
					.img
						a(href="")
							img.lazyload(data-src="./img/index/new-2.png" alt="")
					.content-wrapper.d-flex.flex-column.justify-between
						a.title.f-20.fw-800.color-main.line-30.color-main.lcl.lcl-3(href="") Year end Party 2019 - The Path we share
						time 22/10/2020
						.desc.f-16.fw-300.line-30 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
			.col-lg-3.col-md-6
				.news-item.zoom-img
					.img
						a(href="")
							img.lazyload(data-src="./img/index/new-3.png" alt="")
					.content-wrapper.d-flex.flex-column.justify-between
						a.title.f-20.fw-800.color-main.line-30.color-main.lcl.lcl-3(href="") Lễ ký kết Kế hoạch sản xuất kinh doanh năm 2020
						time 22/10/2020
						.desc.f-16.fw-300.line-30 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
			.col-lg-3.col-md-6
				.news-item.zoom-img
					.img
						a(href="")
							img.lazyload(data-src="./img/index/new-4.png" alt="")
					.content-wrapper.d-flex.flex-column.justify-between
						a.title.f-20.fw-800.color-main.line-30.color-main.lcl.lcl-3(href="") SOL trúng thầu loạt dự án lớn tại với tổng giá trị gói thầu hơn 2000 tỷ đồng
						time 22/10/2020
						.desc.f-16.fw-300.line-30 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
			.wrapper-button.d-flex.justify-end
				a.view-more(href="")
					span Xem thêm
					img(src="./img/icon/viewmore.png" alt="")
