section.kv-section.home-project
	.container
		.main-title.color-main dự án nổi bật
		.wrapper-slider
			.swiper-container.column-slide
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.project-item
								.img
									a(href="")
										img.lazyload(data-src="./img/index/project-"+i+".png", alt="")
								.content.d-flex.align-center
									a(href="").text.f-30.fw-700.color-white.text-center HADO CENTROSA GARDEN
			.swiper-button-next
			.swiper-button-prev
			.swiper-pagination
