footer 
	.footer-top 
		.container
			.row
				.col-md-3 
					p.title SAIGON BEER-ALCOHOL-BEVERAGE CORPORATION (SABECO)
					.content
						p
							strong Business registration address:
						p 
							address 187 Nguyen Chi Thanh, Ward 12, District 5, Ho Chi Minh City, Vietnam.
					.content
						p
							strong Business:
						p 
							address Floor 5th, Vincom Center B, 72 Le Thanh Ton 
								br
								| (45A, Ly Tu Trong, Ben Nghe Ward, District 1, HCMC, Vietnam)
						p Tel: 
							a(href="tel: (+84) 283.829.4081") (+84) 283.829.4081 
							| - 
							a(href="tel: (+84) 283.829.4083") 283.829.4083 
							| - 
							a(href="tel: (+84) 283.829.6342") 283.829.6342 
						p Fax: 
							a(href="tel: (+84) 283.829.6856") (+84) 283.829.6856 
						p Email: 
							a(href="mailto: sabeco@sabeco.com.vn") sabeco@sabeco.com.vn
				.col-md-5 
					.d-flex.flex-wrap
						ul.menu-list.type-none
							- var menufooter = ['Our Story	','Our Brands','Investors',' Newsroom','Careers']
							- for (i=0; i<menufooter.length; i++)
								li 
									a(href="#") #{menufooter[i]}
						.content.content-right
							p
								strong Business:
							p 
								address Floor 5th, Vincom Center B, 72 Le Thanh Ton 
									br
									| (45A, Ly Tu Trong, Ben Nghe Ward, District 1, HCMC, Vietnam)
						.follow-and-logo 
							.follow
								p 
									strong Follow us on
								ul.type-none
									li 
										a(href="#") 
											em.fa.fa-facebook-f
									li 
										a(href="#") 
											em.fa.fa-youtube
									li 
										a(href="#") 
											em.fa.fa-linkedin
							.logo 
								a(href="/")
									img(src="./img/logo-red.png", alt="")
	.footer-bottom 
		p COPYRIGHT © 2019, SAIGON BEER. ALL RIGHTS RESERVED
