footer
	.container
		.footer-title.text-uppercase.f-36.fw-800.color-main thông tin liên hệ
		.sub-title.f-22.fw-800.color-text.text-uppercase CÔNG TY CỔ PHẦN VẬT LIỆU VÀ GIẢI PHÁP SOL
		.row
			.col-lg-6
				.col-lef
					.footer-card
						ul
							li.d-flex.align-start
								p Trụ sở chính:
								p Số 60, Nguyễn Đình Chiểu, p. Đa Kao Quận 1, Tp. Hồ Chí Minh, Việt Nam
							li.d-flex.align-start
								p Tel:
								p (+84 28) 3820 7127
							li.d-flex.align-start
								p Email:
								p contact@solmc.vn
							li.d-flex.align-start
								p Tax Code:
								p 0313 541 575
					#footer-card
					.footer-card
						.title.f-22.fw-800.color-text.text-uppercase kênh thông tin
						ul
							li
								a(href="") Facebook
							li
								a(href="") Youtube
							li
								a(href="") LinkedIn
							li
								a(href="") Sol Building Material Solution
							li
								a(href="") Solmc.vn
			.col-lg-6
				.col-right
					.footer-card
						ul
							li.d-flex.align-start
								p Showroom:
								p Số 31, Lý Văn Phức, p. Tân Định Quận 1, Tp. Hồ Chí Minh, Việt Nam.
							li.d-flex.align-start
								p Tel:
								p (+84 28) 3820 7127
							li.d-flex.align-start
								p Email:
								p contact@solmc.vn
						ul
							li.d-flex.align-start
								p VP.Miền Bắc:
								p Số 23, Lê Văn Lương, p. Nhân Chính, Quận Thanh Xuân, Hà Nội, Việt Nam.
							li.d-flex.align-start
								p Tel:
								p (+84 28) 3820 7127
							li.d-flex.align-start
								p Email:
								p contact@solmc.vn
				.img
					img(src="./img/bocongthuong.jpg" alt="")
		.coppyright
			.row
				.col-lg-5
					.content Copywrite 2020 
						span SOL E&C. 
						|All right reserved
				.col-lg-7
					.list-item.align-center.justify-end
						ul.d-flex
							li
								a(href="") Giới thiệu
							li
								a(href="") Lĩnh vực hoạt động
							li
								a(href="") Dự án
							li
								a(href="") Khách hàng
							li
								a(href="") Tuyển dụng

