
section.kv-section.field-page
	.tab-panels.list-tabs
		.container
			ul.tabs
				li.item.active(rel='panel-1')
					span Tổng thầu
				li.item(rel='panel-2')
					span Thiết kế - Thi công
				li.item(rel='panel-3')
					span MEP
		.wrapper-content#panel-1.panel.active
			.container
				.full-content
					p(style="text-align: center;")
						img.lazyload(data-src="./img/linh-vuc/f-1.png" alt="")
					p
						strong CHIẾN LƯỢC TRIỂN KHAI HOÀN HẢO CHO CÁC SIÊU DỰ ÁN
					p Trong những năm gần đây, mô hình Thiết kê và thi công (Design & Build – D&B) luôn là lựa chọn hàng đầu của các Chủ đầu tư, bởi đây là chiến lược triển khai hoàn hảo cho các siêu dự án. Thông qua mô hình D&B, SOL sẽ sẽ làm gia tăng giá trị cho dự án của khách hàng, giảm chi phí, nâng cao chất lượng và tiết kiệm thời gian.
					p(style="text-align: center;")
						img.lazyload(data-src="./img/linh-vuc/f-2.png" alt="")
					p(style="font-weight: 700") Với D&B, chúng tôi cam kết mang đến cho Chủ đầu tư những giá trị vượt trội:
					ol
						li Đơn giản hoá các giai đoạn phức tạp và chứa nhiều rủi ro của quá trình thi công truyền thống (Thiết kế – Đấu thầu – Thi công).
						li Đẩy nhanh tiến độ dự án hơn 30%, kiểm soát hoàn toàn về chất lượng và an toàn.
						li Nâng cao thương hiệu dự án qua đó tăng thêm nhiều lần lợi thế bán hàng và khai thác công năng công trình
						li Tiết kiệm tối đa ngân sách dự án và tối ưu hoá dòng tiền.
					p Với đội ngũ kỹ sư vững chuyên môn và dày dặn kinh nghiệm về thị trường xây dựng, SOL luôn hướng tới mục tiêu win – win cho các bên bằng cách nghiên cứu và đề xuất các giải pháp kỹ thuật phù hợp với dự án quy mô lớn đến rất lớn.
					p(style="font-weight: 700") Khi được tín nhiệm trở thành Tổng thầu thi công cho dự án tâm huyết của quý vị, chúng tôi cam kết mang lại hàng loạt những lợi ích vượt trội và lâu dài:
					ol
						li Rút ngắn tiến độ, tập trung mọi công tác qua đầu mối quản lý duy nhất là Unicons, gia tăng hiệu quả sử dụng dòng tiền cho Chủ đầu tư.
						li Tối ưu hóa chi phí nhân lực quản lý dự án.
						li Tư vấn biện pháp thi công, nguyên vật liệu phù hợp với nguồn vốn
						li Chủ động hóa trong mọi công đoạn từ tổ chức giám sát, điều phối tiến độ đến cam kết an toàn trong thi công và chất lượng của toàn dự án, thay cho chủ đầu tư.
					p
						strong QUY TRÌNH TRIỂN KHAI DỰ ÁN TỔNG THẦU THI CÔNG
					p(style="font-weight: 700") Những lợi thế CĐT đạt được khi triển khai Tổng thầu thi công cùng SOL
					p(style="text-align: center;")
						img.lazyload(data-src="./img/linh-vuc/f-3.png" alt="")
					p An toàn – Chất lượng và Tiến độ chính là những giá trị SOL luôn luôn hướng đến khi triển khai dự án. Sở hữu trong tay đội ngũ các kỹ sư, kỹ thuật viên nhiệt huyết, nhiều kinh nghiệm thực hiện các dự án lớn đến rất lớn và hàng nghìn công nhân giỏi nghề, SOL cam kết thực hiện chính xác về mặt thời gian thi công và bàn giao đảm bảo đúng và thậm chí vượt tiến độ xây dựng như ban đầu đưa ra. Khách hàng tiếp tục có được lợi ích về mặt khai thác thương mại và thuận liện cho mọi kế hoạch sản xuất kinh doanh.

					p Song song với tiến độ, An toàn và Chất lượng từng dự án luôn được kiểm soát tối ưu. Trong quá trình thi công, Tổng thầu SOL sẽ đảm bảo tính chính xác và đồng nhất từ bản thiết kế cũng như các quy định nghiệm thu dự án. Vì vậy, khách hàng hoàn toàn yên tâm và tin tưởng với chất lượng công trình bền – đẹp – tinh tế cung cấp bởi SOL.

					p Với vị thế Tổng thầu xây dựng hàng đầu Việt Nam, Unicons không những được đánh giá cao trong lĩnh vực thiết kế, thi công xây dựng các dự án dân dụng và công nghiệp, mà hiện tại Unicons đang là một trong những nhà thầu dẫn đầu thị trường trong mảng thiết kế và thi công hệ thống Cơ Điện (MEP) – một trong những dịch vụ truyền thống và thế mạnh chủ lực của Unicons.

					p Doanh thu của Khối Cơ Điện Unicons trong năm 2018 đạt hơn 2.000 tỷ đồng, đặt mục tiêu 3.000 tỷ đồng cho năm 2019. Những số liệu ấy minh chứng cho uy tín và năng lực vượt trội, không thua kém bất kỳ công ty chuyên ngành cơ điện nào trên thị trường Việt Nam. 

					p Với sự phát triển vượt trội, lớn mạnh của Khối Cơ Điện Coteccons Group, năm 2017, Coteccons Group đã cho ra đời thương hiệu Remeeco. Remeeco là thương hiệu đại diện cho mảng thi công và thiết kế Cơ Điện của Coteccons Group với mong muốn khẳng định vị thế trên thị trường Cơ Điện hiện nay.
					p
						strong KẾT HỢP NHUẦN NHUYỄN GIỮA XÂY DỰNG VÀ CƠ ĐIỆN
					p Sự kết hợp nhuần nhuyễn giữa hai mảng Xây dựng và Cơ Điện trong cùng một gói thầu do một Tổng thầu đảm trách theo phương thức vừa Thiết kế vừa Thi công sẽ giúp quá trình triển khai dự án suôn sẻ, mang lại nhiều lợi ích cho Chủ đầu tư. Mặt khác, sự phối hợp chặt chẽ giữa Cơ điện và các công tác Kết cấu – Kiến trúc ngay từ đầu giúp tối ưu hóa trong quá trình thi công, đẩy nhanh tiến độ và đảm bảo chất lượng.
					p
						strong ĐIỂM MẤU CHỐT TRONG DỰ ÁN THIẾT KẾ VÀ THI CÔNG
					p Ưu điểm của việc lựa chọn Khối Cơ điện Unicons trong mô hình Thiết kế và Thi công là
					ol
						li Tiết kiệm tối đa thời gian triển khai dự án, rút ngắn đáng kể tiến độ thi công. 
						li Trách nhiệm của nhà thầu được thể hiện một cách rõ ràng trong cả mảng Xây dựng và Cơ điện.
						li Tiết kiệm tối đa tài chính của khách hàng: Tối ưu chi phí Prelim, tinh giảm bộ máy quản lý cho Chủ Đầu Tư, rút ngắn đáng kể thời gian hoàn thành dự án, từ đó giảm chi phí quản lý dự án.
					p
						strong ỨNG DỤNG BIM VÀ REVIT 3D TRONG THI CÔNG CƠ ĐIỆN
					p Hiện nay Unicons đã ứng dụng rất thành công quy trình Xây dựng Mô hình hoá thông tin (BIM) trong Thiết kế và thi công hệ thống cơ điện từ đó khắc phục sớm các rủi ro sai sót, tăng cường tính thuận tiện cho người dùng khi đưa vào sử dụng do đã tính toán kỹ ngay từ khi thiết kế đến lựa chọn vật liệu, lắp đặt, nghiệm thu.

					p Trong những năm gần đây Unicons đã tiên phong trong việc áp dụng Revit 3D vào thi công cơ điện trong nhà xưởng và nhà cao tầng – biệt thự. Lợi ích của Revit 3D là giúp kiểm soát những “xung đột”, tăng tính thẩm mỹ và dự trù chính xác khối lượng trong quá trình thi công. Hệ thống Revit 3D đã được Unicons – Coteccons Group ứng dụng rất bài bản từ năm 2012 trong nhiều dự án lớn như: Parkcity Hà Nội, Masteri Villas, Park 2 – Vinhomes Central Park, M-One Nam Sài Gòn, nhà máy Gentherm Hà Nam…

					p Bên cạnh hàng loạt dự án thi công Cơ Điện dân dụng và thương mại, Unicons còn là chuyên gia lắp đặt cơ điện trong các dự án nhà xưởng công nghiệp quy mô lớn lên đến hàng chục hecta với những hệ thống cơ điện công nghiệp phức tạp, bao gồm hệ thống trạm điện, hệ thống lạnh, thông gió, hệ thống phòng cháy chữa cháy, hệ thống cấp thoát nước.

					p Unicons luôn mong muốn rằng công ty sẽ trở thành nơi làm việc gắn bó lâu dài và mang lại nguồn thu nhập tốt nhất cho người lao động. Vì vậy, chúng tôi nỗ lực tạo dựng một môi trường làm việc mở, minh bạch và có nhiều cơ hội để mọi thành viên đều có điều kiện và cơ hội tốt nhất để cùng làm việc và đóng góp vào sự phát triển của Unicons. Từ cấp lãnh đạo đến mỗi nhân viên, chúng tôi luôn cam kết sẽ tiếp tục duy trì danh hiệu nơi làm việc tốt nhất tại Việt Nam trong ngành xây dựng.
					p
						strong MÔI TRƯỜNG TRẺ - NĂNG ĐỘNG - NHIỆT HUYẾT
					p Trong nhiều năm qua, chúng tôi đã không ngừng cải thiện môi trường làm việc, điều kiện làm việc để tạo sự thoái mái nhất cho CBNV khi làm việc tại Unicons. Khi bạn đến với Unicons bạn sẽ ngạc nhiên về một đội ngũ trẻ - năng động - nhiệt huyết - tự tin và đặc biệt rất hòa đồng và thân thiện. Môi trường làm việc tại Unicons luôn đầy "lửa", giàu năng lượng và tạo điều kiện để mỗi CBNV có cơ hội tự khẳng định, phát huy hết năng lực của bản thân.
					p
						strong HỆ THỐNG LƯƠNG THƯỞNG CẠNH TRANH
					p Tại Unicons, chính sách lương xây dựng trên cơ sở công việc được giao và hiệu quả công việc thực hiện:
						br 
						|– Định kỳ trong năm, Công ty sẽ xem xét thực hiện công việc của CBNV để làm cơ sở tăng lương thông qua việc nhận xét đánh giá của cấp lãnh đạo trực tiếp.
						br
						|– Ngoài tiền lương, Công ty cũng xem xét các mức thưởng thỏa đáng nhằm động viên khuyến khích tinh thần làm việc cho CBNV.
					p
						strong CHÍNH SÁCH LUÂN CHUYỂN - THĂNG TIẾN
					p Đối với CBNV Unicons, cơ hội phát triển và thăng tiến là công bằng dành cho tất cả mọi người, không phân biệt tuổi tác, học vị hay mối quan hệ. Vì vậy, ở Unicons, tương lai phát triển nghề nghiệp luôn rõ ràng và rộng mở cho mỗi cá nhân.
					p
						strong CHIA SẺ TRÁCH NHIỆM VỚI XÃ HỘI
					p Làm việc tại Unicons, bạn sẽ được dịp hoà mình vào các hoạt động xã hội như thăm và tặng quà cho trẻ em nghèo tại các trung tâm trong và ngoài Thành phố, chương trình thăm hỏi gia đình chính sách, cứu trợ đồng bào gặp bão lũ... Các hoạt động thiện nguyện phong phú được xem là cách Unicons thể hiện trách nhiệm doanh nghiệp để giúp những cảnh đời bất hạnh có cơ hội vươn lên một cuộc sống tốt đẹp hơn.

					p "Tại Unicons, con người là luôn tài sản quý giá nhất. Khi người Unicons phát triển, Unicons cũng phát triển. Chính vì thế, các chương trình đào tạo, bồi dưỡng cho đội ngũ cán bộ nhân viên công ty luôn được công ty chú trọng cả về lượng và chất"

					p Chúng tôi tin rằng đầu tư cho hoạt động đào tạo nhân viên chính là hoạt động "sinh lời" nhiều nhất. Làm việc tại Unicons, mọi nhân viên đều được định hướng một lộ trình phát triển nghề nghiệp rõ ràng, song song đó là các chương trình đào tạo nội bộ phong phú, thực tiễn và phù hợp nhất với năng lực và nguyện vọng. Hoạt động đào tạo tại Unicons được tổ chức thường xuyên nhằm xây dựng và phát triển nguồn nhân lực đủ về số lượng với chất lượng chuyên môn ngày càng gia tăng, góp phần đáp ứng mọi yêu cầu của Khách hàng đã tín nhiệm công ty.
					p
						strong LỘ TRÌNH THĂNG TIẾN RỘNG MỞ
					p Chúng tôi muốn Unicons là nơi bạn có thể xây dựng sự nghiệp lâu dài. Dù bạn muốn theo đuổi công việc quản lý dự án hay tập trung phát triển chuyên môn sâu, chúng tôi đều ghi nhận, đánh giá cao và tạo điều kiện cho tài năng của bạn "cất cánh". Vì thế, chúng tôi mở ra cho bạn nhiều hướng thăng tiến ở Unicons, đồng thời thiết kế những chương trình giúp cho bạn phát triển sự nghiệp cho mỗi chặng đường.
					p
						strong HOẠT ĐỘNG ĐÀO TẠO PHONG PHÚ
					p(style="font-weight: 700") 1. ĐÀO TẠO HỘI NHẬP:
					p Trong chương trình đào tạo hội nhập, các nhân viên mới được Phòng Nhân sự, Phòng An toàn, Phòng Quản lý Kỹ thuật thi công, Phòng Quản lý Đầu tư Thiết bị phổ biến về những kiến thức nền tảng như văn hóa công ty, chính sách nhân sự, chế độ đãi ngộ, … Bên cạnh đó, các bạn đồng thời được cung cấp những hiểu biết tổng quan về chuyên môn nghiệp vụ như năng lực quản lý thiết bị, kinh nghiệm phối hợp giữa xây dựng và MEP, công tác an toàn, thi công kết cấu, hoàn thiện trong các dự án sắp tham gia. 

					p(style="font-weight: 700") 2. ĐÀO TẠO CHUYÊN MÔN:
					p Nhân viên Unicons được tham gia nhiều chương trình đào tạo chuyên môn phù hợp với cấp bậc và tính chất công việc như: đào tạo Giám sát chính, Chỉ huy phó, Chỉ huy trưởng, chuyên viên tính khối lượng (QS), đào tạo thư ký công trường. Các khoá học ngắn hạn về kỹ năng tin học văn phòng, kỹ năng ứng dụng Revit 3D hoặc học ngoại ngữ giao tiếp với các chuyên gia nước ngoài cũng được tổ chức luân phiên trong năm, tạo điều kiện cho CBNV  trau dồi năng lực.

					p(style="font-weight: 700") 3. ĐÀO TẠO KỸ NĂNG MỀM:
					p Unicons còn chú trọng đào tạo cho đội ngũ nhân sự các kỹ năng mềm thiết yếu để hỗ trợ cho xử lý công việc như: kỹ năng giao tiếp, quản lý thời gian, kỹ năng thuyết trình và sử dụng Powerpoint chuyên nghiệp, kỹ năng giải quyết vấn đề... Tại mỗi buổi học chúng tôi tập trung vào thực hành và ứng dụng các tình huống thực tế phát sinh trong công việc, vì vậy tính tương tác và hiệu quả được nâng cao. Qua đó, CBNV Unicons trở nên tự tin hơn và giải quyết công việc hiệu quả hơn, góp phần tạo nên hình ảnh người Unicons chuyên nghiệp - tinh tế.

					p(style="font-weight: 700") 4. ĐÀO TẠO QUẢN LÝ TIỀM NĂNG:
					p Unicons luôn mong muốn tìm kiếm, phát hiện và bồi dưỡng các CBNV có tiềm năng phát triển lên cấp quản lý kế thừa. Vì thế, chúng tôi cho ra đời Câu lạc bộ lãnh đạo tiềm năng UniCafe sinh hoạt hàng tháng. Các đề tài thảo luận ở cấp cao hơn được lựa chọn luôn bám sát tình hình hoạt động của công ty, bổ sung nhiều kiến thức và kỹ năng bổ ích cho các thành viên như: kỹ năng nhận định và giải quyết vấn đề, kỹ năng giao việc, phân quyền, kỹ năng lãnh đạo, quản lý nhóm, kỹ năng hoạch định chiến lược...  

					p Nhận thức được tầm quan trọng của nguồn nhân lực đối với sự tồn tại và phát triển của doanh nghiệp, Unicons luôn xem trọng và liên tục hoàn thiện chính sách đãi ngộ, phúc lợi để người lao động yên tâm, gắn bó lâu dài. Chúng tôi chú trọng đến việc xây dựng hệ thống lương, thưởng, phúc lợi, đãi ngộ phù hợp với từng thời kỳ và từng giai đoạn phát triển, đảm bảo tính linh hoạt, công bằng, tương xứng với mức độ cống hiến của người lao động và đảm bảo mức cạnh tranh trên thị trường. Song song với chính sách lương, thưởng, phụ cấp hấp dẫn, chế độ phúc lợi tại Unicons còn đặc biệt quan tâm đến đời sống tinh thần của CBNV và người thân trong gia đình.

					p Unicons là một trong những doanh nghiệp xây dựng có hệ thống phúc lợi tốt nhất trên thị trường hiện nay với hàng loạt các phúc lợi:
					ol
						li Chính sách mua bảo hiểm chăm sóc sức khỏe và bảo hiểm tai nạn 24/24 cho CBNV.
						li Chính sách thưởng cho con em CBNV nhân ngày Quốc tế Thiếu nhi.
						li Chương trình du lịch cho CBNV và người thân.
						li Khám sức khỏe tổng quát, định kỳ hằng năm cho CBNV
						li Chính sách chăm lo đời sống CBNV: quà sinh nhật, quà Tết Nguyên Đán, Quốc tế Phụ nữ, quà cưới, thăm hỏi…
						li Phụ cấp ăn trưa, phụ cấp công tác, cước điện thoại, nhiên liệu…
						li Đối với nhân viên công tác công trình xa, được hưởng phụ cấp đi lại (tàu xe/máy bay).
					p
						strong MÔI TRƯỜNG KHÔNG KHOẢNG CÁCH
					p Văn phòng Unicons là một không gian mở để các thành viên dễ dàng chia sẻ với nhau. Bạn có thể thoải mái trình bày những ý tưởng mới và thậm chí là tâm sự trăn trở với "sếp" của mình. Trong công việc thì tuân thủ, nghiêm túc, kỷ luật, ngoài công việc, tất cả đều là anh em, sẵn lòng chia sẻ mọi thứ cùng nhau.
					p
						strong YÊU THƯƠNG, SẺ CHIA VÀ ĐOÀN KẾT
					p Với những ai làm việc dưới mái nhà chung Unicons đều dễ dàng cảm nhận sự thân thiện đặc trưng nơi đây. Đó là môi trường làm việc gần gũi, thân thiện, nơi mà mỗi người đều tìm thấy cho mình sự thân thương quen thuộc như trong chính ngôi nhà của mình. Đó là bởi tất cả mọi người tại Unicons đều coi nhau như anh em, như bè bạn. Những thế hệ đàn anh đi trước sẽ luôn sẵn lòng quan tâm, chỉ bảo kinh nghiệm cho lớp trẻ từ chuyên môn nghiệp vụ tới cả cách đối nhân, xử thế. Và chính bạn sẽ là người kế thừa và lan toả nét văn hoá ấy cho thế hệ tiếp theo.
					p
						strong YÊU THƯƠNG, SẺ CHIA VÀ ĐOÀN KẾT
					p Với những ai làm việc dưới mái nhà chung Unicons đều dễ dàng cảm nhận sự thân thiện đặc trưng nơi đây. Đó là môi trường làm việc gần gũi, thân thiện, nơi mà mỗi người đều tìm thấy cho mình sự thân thương quen thuộc như trong chính ngôi nhà của mình. Đó là bởi tất cả mọi người tại Unicons đều coi nhau như anh em, như bè bạn. Những thế hệ đàn anh đi trước sẽ luôn sẵn lòng quan tâm, chỉ bảo kinh nghiệm cho lớp trẻ từ chuyên môn nghiệp vụ tới cả cách đối nhân, xử thế. Và chính bạn sẽ là người kế thừa và lan toả nét văn hoá ấy cho thế hệ tiếp theo.
					p
						strong SÁNG TẠO VÀ ĐỔI MỚI KHÔNG NGỪNG
					p Người Unicons vốn dĩ ưa thay đổi và sáng tạo cái mới. Chúng tôi không thích làm mãi những việc cũ theo cách đã cũ. Mỗi ngày các công trường Unicons luôn nỗ lực cải tiến phương thức thi công, mỗi phòng ban đều có sản phẩm cải tiến mới, mỗi nhân viên đều suy nghĩ cách giải quyết vấn đề hôm nay hiệu quả hơn ngày hôm qua... Tất cả cùng tạo nên một guồng máy sáng tạo và vận động không ngừng, góp phần tạo nên lợi thế cạnh tranh rất lớn cho Unicons trên thị trường. Nếu bạn là người say mê cải tiến, môi trường Unicons chắc chắn sẽ là vùng đất cho bạn vẫy vùng!
		.wrapper-content#panel-2.panel
			.container
				p(style="text-align: center;")
					img.lazyload(data-src="./img/linh-vuc/f-1.png" alt="")
				p
					strong CHIẾN LƯỢC TRIỂN KHAI HOÀN HẢO CHO CÁC SIÊU DỰ ÁN
				p Trong những năm gần đây, mô hình Thiết kê và thi công (Design & Build – D&B) luôn là lựa chọn hàng đầu của các Chủ đầu tư, bởi đây là chiến lược triển khai hoàn hảo cho các siêu dự án. Thông qua mô hình D&B, SOL sẽ sẽ làm gia tăng giá trị cho dự án của khách hàng, giảm chi phí, nâng cao chất lượng và tiết kiệm thời gian.
				p(style="text-align: center;")
					img.lazyload(data-src="./img/linh-vuc/f-2.png" alt="")
				p(style="font-weight: 700") Với D&B, chúng tôi cam kết mang đến cho Chủ đầu tư những giá trị vượt trội:
				ol
					li Đơn giản hoá các giai đoạn phức tạp và chứa nhiều rủi ro của quá trình thi công truyền thống (Thiết kế – Đấu thầu – Thi công).
					li Đẩy nhanh tiến độ dự án hơn 30%, kiểm soát hoàn toàn về chất lượng và an toàn.
					li Nâng cao thương hiệu dự án qua đó tăng thêm nhiều lần lợi thế bán hàng và khai thác công năng công trình
					li Tiết kiệm tối đa ngân sách dự án và tối ưu hoá dòng tiền.
				p Với đội ngũ kỹ sư vững chuyên môn và dày dặn kinh nghiệm về thị trường xây dựng, SOL luôn hướng tới mục tiêu win – win cho các bên bằng cách nghiên cứu và đề xuất các giải pháp kỹ thuật phù hợp với dự án quy mô lớn đến rất lớn.
				p(style="font-weight: 700") Khi được tín nhiệm trở thành Tổng thầu thi công cho dự án tâm huyết của quý vị, chúng tôi cam kết mang lại hàng loạt những lợi ích vượt trội và lâu dài:
				ol
					li Rút ngắn tiến độ, tập trung mọi công tác qua đầu mối quản lý duy nhất là Unicons, gia tăng hiệu quả sử dụng dòng tiền cho Chủ đầu tư.
					li Tối ưu hóa chi phí nhân lực quản lý dự án.
					li Tư vấn biện pháp thi công, nguyên vật liệu phù hợp với nguồn vốn
					li Chủ động hóa trong mọi công đoạn từ tổ chức giám sát, điều phối tiến độ đến cam kết an toàn trong thi công và chất lượng của toàn dự án, thay cho chủ đầu tư.
				p
					strong QUY TRÌNH TRIỂN KHAI DỰ ÁN TỔNG THẦU THI CÔNG
				p(style="font-weight: 700") Những lợi thế CĐT đạt được khi triển khai Tổng thầu thi công cùng SOL
				p(style="text-align: center;")
					img.lazyload(data-src="./img/linh-vuc/f-3.png" alt="")
				p An toàn – Chất lượng và Tiến độ chính là những giá trị SOL luôn luôn hướng đến khi triển khai dự án. Sở hữu trong tay đội ngũ các kỹ sư, kỹ thuật viên nhiệt huyết, nhiều kinh nghiệm thực hiện các dự án lớn đến rất lớn và hàng nghìn công nhân giỏi nghề, SOL cam kết thực hiện chính xác về mặt thời gian thi công và bàn giao đảm bảo đúng và thậm chí vượt tiến độ xây dựng như ban đầu đưa ra. Khách hàng tiếp tục có được lợi ích về mặt khai thác thương mại và thuận liện cho mọi kế hoạch sản xuất kinh doanh.

				p Song song với tiến độ, An toàn và Chất lượng từng dự án luôn được kiểm soát tối ưu. Trong quá trình thi công, Tổng thầu SOL sẽ đảm bảo tính chính xác và đồng nhất từ bản thiết kế cũng như các quy định nghiệm thu dự án. Vì vậy, khách hàng hoàn toàn yên tâm và tin tưởng với chất lượng công trình bền – đẹp – tinh tế cung cấp bởi SOL.

				p Với vị thế Tổng thầu xây dựng hàng đầu Việt Nam, Unicons không những được đánh giá cao trong lĩnh vực thiết kế, thi công xây dựng các dự án dân dụng và công nghiệp, mà hiện tại Unicons đang là một trong những nhà thầu dẫn đầu thị trường trong mảng thiết kế và thi công hệ thống Cơ Điện (MEP) – một trong những dịch vụ truyền thống và thế mạnh chủ lực của Unicons.

				p Doanh thu của Khối Cơ Điện Unicons trong năm 2018 đạt hơn 2.000 tỷ đồng, đặt mục tiêu 3.000 tỷ đồng cho năm 2019. Những số liệu ấy minh chứng cho uy tín và năng lực vượt trội, không thua kém bất kỳ công ty chuyên ngành cơ điện nào trên thị trường Việt Nam. 

				p Với sự phát triển vượt trội, lớn mạnh của Khối Cơ Điện Coteccons Group, năm 2017, Coteccons Group đã cho ra đời thương hiệu Remeeco. Remeeco là thương hiệu đại diện cho mảng thi công và thiết kế Cơ Điện của Coteccons Group với mong muốn khẳng định vị thế trên thị trường Cơ Điện hiện nay.
				p
					strong KẾT HỢP NHUẦN NHUYỄN GIỮA XÂY DỰNG VÀ CƠ ĐIỆN
				p Sự kết hợp nhuần nhuyễn giữa hai mảng Xây dựng và Cơ Điện trong cùng một gói thầu do một Tổng thầu đảm trách theo phương thức vừa Thiết kế vừa Thi công sẽ giúp quá trình triển khai dự án suôn sẻ, mang lại nhiều lợi ích cho Chủ đầu tư. Mặt khác, sự phối hợp chặt chẽ giữa Cơ điện và các công tác Kết cấu – Kiến trúc ngay từ đầu giúp tối ưu hóa trong quá trình thi công, đẩy nhanh tiến độ và đảm bảo chất lượng.
				p
					strong ĐIỂM MẤU CHỐT TRONG DỰ ÁN THIẾT KẾ VÀ THI CÔNG
				p Ưu điểm của việc lựa chọn Khối Cơ điện Unicons trong mô hình Thiết kế và Thi công là
				ol
					li Tiết kiệm tối đa thời gian triển khai dự án, rút ngắn đáng kể tiến độ thi công. 
					li Trách nhiệm của nhà thầu được thể hiện một cách rõ ràng trong cả mảng Xây dựng và Cơ điện.
					li Tiết kiệm tối đa tài chính của khách hàng: Tối ưu chi phí Prelim, tinh giảm bộ máy quản lý cho Chủ Đầu Tư, rút ngắn đáng kể thời gian hoàn thành dự án, từ đó giảm chi phí quản lý dự án.
				p
					strong ỨNG DỤNG BIM VÀ REVIT 3D TRONG THI CÔNG CƠ ĐIỆN
				p Hiện nay Unicons đã ứng dụng rất thành công quy trình Xây dựng Mô hình hoá thông tin (BIM) trong Thiết kế và thi công hệ thống cơ điện từ đó khắc phục sớm các rủi ro sai sót, tăng cường tính thuận tiện cho người dùng khi đưa vào sử dụng do đã tính toán kỹ ngay từ khi thiết kế đến lựa chọn vật liệu, lắp đặt, nghiệm thu.

				p Trong những năm gần đây Unicons đã tiên phong trong việc áp dụng Revit 3D vào thi công cơ điện trong nhà xưởng và nhà cao tầng – biệt thự. Lợi ích của Revit 3D là giúp kiểm soát những “xung đột”, tăng tính thẩm mỹ và dự trù chính xác khối lượng trong quá trình thi công. Hệ thống Revit 3D đã được Unicons – Coteccons Group ứng dụng rất bài bản từ năm 2012 trong nhiều dự án lớn như: Parkcity Hà Nội, Masteri Villas, Park 2 – Vinhomes Central Park, M-One Nam Sài Gòn, nhà máy Gentherm Hà Nam…

				p Bên cạnh hàng loạt dự án thi công Cơ Điện dân dụng và thương mại, Unicons còn là chuyên gia lắp đặt cơ điện trong các dự án nhà xưởng công nghiệp quy mô lớn lên đến hàng chục hecta với những hệ thống cơ điện công nghiệp phức tạp, bao gồm hệ thống trạm điện, hệ thống lạnh, thông gió, hệ thống phòng cháy chữa cháy, hệ thống cấp thoát nước.

				p Unicons luôn mong muốn rằng công ty sẽ trở thành nơi làm việc gắn bó lâu dài và mang lại nguồn thu nhập tốt nhất cho người lao động. Vì vậy, chúng tôi nỗ lực tạo dựng một môi trường làm việc mở, minh bạch và có nhiều cơ hội để mọi thành viên đều có điều kiện và cơ hội tốt nhất để cùng làm việc và đóng góp vào sự phát triển của Unicons. Từ cấp lãnh đạo đến mỗi nhân viên, chúng tôi luôn cam kết sẽ tiếp tục duy trì danh hiệu nơi làm việc tốt nhất tại Việt Nam trong ngành xây dựng.
				p
					strong MÔI TRƯỜNG TRẺ - NĂNG ĐỘNG - NHIỆT HUYẾT
				p Trong nhiều năm qua, chúng tôi đã không ngừng cải thiện môi trường làm việc, điều kiện làm việc để tạo sự thoái mái nhất cho CBNV khi làm việc tại Unicons. Khi bạn đến với Unicons bạn sẽ ngạc nhiên về một đội ngũ trẻ - năng động - nhiệt huyết - tự tin và đặc biệt rất hòa đồng và thân thiện. Môi trường làm việc tại Unicons luôn đầy "lửa", giàu năng lượng và tạo điều kiện để mỗi CBNV có cơ hội tự khẳng định, phát huy hết năng lực của bản thân.
				p
					strong HỆ THỐNG LƯƠNG THƯỞNG CẠNH TRANH
				p Tại Unicons, chính sách lương xây dựng trên cơ sở công việc được giao và hiệu quả công việc thực hiện:
					br 
					|– Định kỳ trong năm, Công ty sẽ xem xét thực hiện công việc của CBNV để làm cơ sở tăng lương thông qua việc nhận xét đánh giá của cấp lãnh đạo trực tiếp.
					br
					|– Ngoài tiền lương, Công ty cũng xem xét các mức thưởng thỏa đáng nhằm động viên khuyến khích tinh thần làm việc cho CBNV.
				p
					strong CHÍNH SÁCH LUÂN CHUYỂN - THĂNG TIẾN
				p Đối với CBNV Unicons, cơ hội phát triển và thăng tiến là công bằng dành cho tất cả mọi người, không phân biệt tuổi tác, học vị hay mối quan hệ. Vì vậy, ở Unicons, tương lai phát triển nghề nghiệp luôn rõ ràng và rộng mở cho mỗi cá nhân.
				p
					strong CHIA SẺ TRÁCH NHIỆM VỚI XÃ HỘI
				p Làm việc tại Unicons, bạn sẽ được dịp hoà mình vào các hoạt động xã hội như thăm và tặng quà cho trẻ em nghèo tại các trung tâm trong và ngoài Thành phố, chương trình thăm hỏi gia đình chính sách, cứu trợ đồng bào gặp bão lũ... Các hoạt động thiện nguyện phong phú được xem là cách Unicons thể hiện trách nhiệm doanh nghiệp để giúp những cảnh đời bất hạnh có cơ hội vươn lên một cuộc sống tốt đẹp hơn.

				p "Tại Unicons, con người là luôn tài sản quý giá nhất. Khi người Unicons phát triển, Unicons cũng phát triển. Chính vì thế, các chương trình đào tạo, bồi dưỡng cho đội ngũ cán bộ nhân viên công ty luôn được công ty chú trọng cả về lượng và chất"

				p Chúng tôi tin rằng đầu tư cho hoạt động đào tạo nhân viên chính là hoạt động "sinh lời" nhiều nhất. Làm việc tại Unicons, mọi nhân viên đều được định hướng một lộ trình phát triển nghề nghiệp rõ ràng, song song đó là các chương trình đào tạo nội bộ phong phú, thực tiễn và phù hợp nhất với năng lực và nguyện vọng. Hoạt động đào tạo tại Unicons được tổ chức thường xuyên nhằm xây dựng và phát triển nguồn nhân lực đủ về số lượng với chất lượng chuyên môn ngày càng gia tăng, góp phần đáp ứng mọi yêu cầu của Khách hàng đã tín nhiệm công ty.
				p
					strong LỘ TRÌNH THĂNG TIẾN RỘNG MỞ
				p Chúng tôi muốn Unicons là nơi bạn có thể xây dựng sự nghiệp lâu dài. Dù bạn muốn theo đuổi công việc quản lý dự án hay tập trung phát triển chuyên môn sâu, chúng tôi đều ghi nhận, đánh giá cao và tạo điều kiện cho tài năng của bạn "cất cánh". Vì thế, chúng tôi mở ra cho bạn nhiều hướng thăng tiến ở Unicons, đồng thời thiết kế những chương trình giúp cho bạn phát triển sự nghiệp cho mỗi chặng đường.
				p
					strong HOẠT ĐỘNG ĐÀO TẠO PHONG PHÚ
				p(style="font-weight: 700") 1. ĐÀO TẠO HỘI NHẬP:
				p Trong chương trình đào tạo hội nhập, các nhân viên mới được Phòng Nhân sự, Phòng An toàn, Phòng Quản lý Kỹ thuật thi công, Phòng Quản lý Đầu tư Thiết bị phổ biến về những kiến thức nền tảng như văn hóa công ty, chính sách nhân sự, chế độ đãi ngộ, … Bên cạnh đó, các bạn đồng thời được cung cấp những hiểu biết tổng quan về chuyên môn nghiệp vụ như năng lực quản lý thiết bị, kinh nghiệm phối hợp giữa xây dựng và MEP, công tác an toàn, thi công kết cấu, hoàn thiện trong các dự án sắp tham gia. 

				p(style="font-weight: 700") 2. ĐÀO TẠO CHUYÊN MÔN:
				p Nhân viên Unicons được tham gia nhiều chương trình đào tạo chuyên môn phù hợp với cấp bậc và tính chất công việc như: đào tạo Giám sát chính, Chỉ huy phó, Chỉ huy trưởng, chuyên viên tính khối lượng (QS), đào tạo thư ký công trường. Các khoá học ngắn hạn về kỹ năng tin học văn phòng, kỹ năng ứng dụng Revit 3D hoặc học ngoại ngữ giao tiếp với các chuyên gia nước ngoài cũng được tổ chức luân phiên trong năm, tạo điều kiện cho CBNV  trau dồi năng lực.

				p(style="font-weight: 700") 3. ĐÀO TẠO KỸ NĂNG MỀM:
				p Unicons còn chú trọng đào tạo cho đội ngũ nhân sự các kỹ năng mềm thiết yếu để hỗ trợ cho xử lý công việc như: kỹ năng giao tiếp, quản lý thời gian, kỹ năng thuyết trình và sử dụng Powerpoint chuyên nghiệp, kỹ năng giải quyết vấn đề... Tại mỗi buổi học chúng tôi tập trung vào thực hành và ứng dụng các tình huống thực tế phát sinh trong công việc, vì vậy tính tương tác và hiệu quả được nâng cao. Qua đó, CBNV Unicons trở nên tự tin hơn và giải quyết công việc hiệu quả hơn, góp phần tạo nên hình ảnh người Unicons chuyên nghiệp - tinh tế.

				p(style="font-weight: 700") 4. ĐÀO TẠO QUẢN LÝ TIỀM NĂNG:
				p Unicons luôn mong muốn tìm kiếm, phát hiện và bồi dưỡng các CBNV có tiềm năng phát triển lên cấp quản lý kế thừa. Vì thế, chúng tôi cho ra đời Câu lạc bộ lãnh đạo tiềm năng UniCafe sinh hoạt hàng tháng. Các đề tài thảo luận ở cấp cao hơn được lựa chọn luôn bám sát tình hình hoạt động của công ty, bổ sung nhiều kiến thức và kỹ năng bổ ích cho các thành viên như: kỹ năng nhận định và giải quyết vấn đề, kỹ năng giao việc, phân quyền, kỹ năng lãnh đạo, quản lý nhóm, kỹ năng hoạch định chiến lược...  

				p Nhận thức được tầm quan trọng của nguồn nhân lực đối với sự tồn tại và phát triển của doanh nghiệp, Unicons luôn xem trọng và liên tục hoàn thiện chính sách đãi ngộ, phúc lợi để người lao động yên tâm, gắn bó lâu dài. Chúng tôi chú trọng đến việc xây dựng hệ thống lương, thưởng, phúc lợi, đãi ngộ phù hợp với từng thời kỳ và từng giai đoạn phát triển, đảm bảo tính linh hoạt, công bằng, tương xứng với mức độ cống hiến của người lao động và đảm bảo mức cạnh tranh trên thị trường. Song song với chính sách lương, thưởng, phụ cấp hấp dẫn, chế độ phúc lợi tại Unicons còn đặc biệt quan tâm đến đời sống tinh thần của CBNV và người thân trong gia đình.

				p Unicons là một trong những doanh nghiệp xây dựng có hệ thống phúc lợi tốt nhất trên thị trường hiện nay với hàng loạt các phúc lợi:
				ol
					li Chính sách mua bảo hiểm chăm sóc sức khỏe và bảo hiểm tai nạn 24/24 cho CBNV.
					li Chính sách thưởng cho con em CBNV nhân ngày Quốc tế Thiếu nhi.
					li Chương trình du lịch cho CBNV và người thân.
					li Khám sức khỏe tổng quát, định kỳ hằng năm cho CBNV
					li Chính sách chăm lo đời sống CBNV: quà sinh nhật, quà Tết Nguyên Đán, Quốc tế Phụ nữ, quà cưới, thăm hỏi…
					li Phụ cấp ăn trưa, phụ cấp công tác, cước điện thoại, nhiên liệu…
					li Đối với nhân viên công tác công trình xa, được hưởng phụ cấp đi lại (tàu xe/máy bay).
				p
					strong MÔI TRƯỜNG KHÔNG KHOẢNG CÁCH
				p Văn phòng Unicons là một không gian mở để các thành viên dễ dàng chia sẻ với nhau. Bạn có thể thoải mái trình bày những ý tưởng mới và thậm chí là tâm sự trăn trở với "sếp" của mình. Trong công việc thì tuân thủ, nghiêm túc, kỷ luật, ngoài công việc, tất cả đều là anh em, sẵn lòng chia sẻ mọi thứ cùng nhau.
				p
					strong YÊU THƯƠNG, SẺ CHIA VÀ ĐOÀN KẾT
				p Với những ai làm việc dưới mái nhà chung Unicons đều dễ dàng cảm nhận sự thân thiện đặc trưng nơi đây. Đó là môi trường làm việc gần gũi, thân thiện, nơi mà mỗi người đều tìm thấy cho mình sự thân thương quen thuộc như trong chính ngôi nhà của mình. Đó là bởi tất cả mọi người tại Unicons đều coi nhau như anh em, như bè bạn. Những thế hệ đàn anh đi trước sẽ luôn sẵn lòng quan tâm, chỉ bảo kinh nghiệm cho lớp trẻ từ chuyên môn nghiệp vụ tới cả cách đối nhân, xử thế. Và chính bạn sẽ là người kế thừa và lan toả nét văn hoá ấy cho thế hệ tiếp theo.
				p
					strong YÊU THƯƠNG, SẺ CHIA VÀ ĐOÀN KẾT
				p Với những ai làm việc dưới mái nhà chung Unicons đều dễ dàng cảm nhận sự thân thiện đặc trưng nơi đây. Đó là môi trường làm việc gần gũi, thân thiện, nơi mà mỗi người đều tìm thấy cho mình sự thân thương quen thuộc như trong chính ngôi nhà của mình. Đó là bởi tất cả mọi người tại Unicons đều coi nhau như anh em, như bè bạn. Những thế hệ đàn anh đi trước sẽ luôn sẵn lòng quan tâm, chỉ bảo kinh nghiệm cho lớp trẻ từ chuyên môn nghiệp vụ tới cả cách đối nhân, xử thế. Và chính bạn sẽ là người kế thừa và lan toả nét văn hoá ấy cho thế hệ tiếp theo.
				p
					strong SÁNG TẠO VÀ ĐỔI MỚI KHÔNG NGỪNG
				p Người Unicons vốn dĩ ưa thay đổi và sáng tạo cái mới. Chúng tôi không thích làm mãi những việc cũ theo cách đã cũ. Mỗi ngày các công trường Unicons luôn nỗ lực cải tiến phương thức thi công, mỗi phòng ban đều có sản phẩm cải tiến mới, mỗi nhân viên đều suy nghĩ cách giải quyết vấn đề hôm nay hiệu quả hơn ngày hôm qua... Tất cả cùng tạo nên một guồng máy sáng tạo và vận động không ngừng, góp phần tạo nên lợi thế cạnh tranh rất lớn cho Unicons trên thị trường. Nếu bạn là người say mê cải tiến, môi trường Unicons chắc chắn sẽ là vùng đất cho bạn vẫy vùng!



