section.kv-section.recruitment-page
	.tab-panels.list-tabs
		.container
			ul.tabs
				li.item.active(rel='panel-1')
					span Chính sách nhân sự
				li.item(rel='panel-2')
					span Chố độ phúc lợi
		.wrapper-content#panel-1.panel.active
			.container
				.full-content
					a(href="#")
						img.lazyload(data-src="./img/tuyen-dung/chinhsach-1.png" alt="")
					p SOL E&C luôn mong muốn rằng công ty sẽ trở thành nơi làm việc gắn bó lâu dài và mang lại nguồn thu nhập tốt nhất cho người lao động. Vì vậy, chúng tôi nỗ lực tạo dựng một môi trường làm việc mở, minh bạch và có nhiều cơ hội để mọi thành viên đều có điều kiện và cơ hội tốt nhất để cùng làm việc và đóng góp vào sự phát triển của SOL E&C. Từ cấp lãnh đạo đến mỗi nhân viên, chúng tôi luôn cam kết sẽ tiếp tục duy trì danh hiệu nơi làm việc tốt nhất tại Việt Nam trong ngành xây dựng.
					p
						strong MÔI TRƯỜNG TRẺ - NĂNG ĐỘNG - NHIỆT HUYẾT
						br
						| Trong nhiều năm qua, chúng tôi đã không ngừng cải thiện môi trường làm việc, điều kiện làm việc để tạo sự thoái mái nhất cho CBNV khi làm việc tại Unicons. Khi bạn đến với Unicons bạn sẽ ngạc nhiên về một đội ngũ trẻ - năng động - nhiệt huyết - tự tin và đặc biệt rất hòa đồng và thân thiện. Môi trường làm việc tại SOL E&C luôn đầy "lửa", giàu năng lượng và tạo điều kiện để mỗi CBNV có cơ hội tự khẳng định, phát huy hết năng lực của bản thân.
					a(href="#")
						img.lazyload(src="./img/tuyen-dung/chinhsach-2.png" alt="")
					p
						strong HỆ THỐNG LƯƠNG THƯỞNG CẠNH TRANH
						br
						| Tại Unicons, chính sách lương xây dựng trên cơ sở công việc được giao và hiệu quả công việc thực hiện:
						br
						|– Định kỳ trong năm, Công ty sẽ xem xét thực hiện công việc của CBNV để làm cơ sở tăng lương thông qua việc nhận xét đánh giá của cấp lãnh đạo trực tiếp.
						br
						|– Ngoài tiền lương, Công ty cũng xem xét các mức thưởng thỏa đáng nhằm động viên khuyến khích tinh thần làm việc cho CBNV.  
					a(href="#")
						img.lazyload(src="./img/tuyen-dung/chinhsach-3.png" alt="")
					p
						strong CHÍNH SÁCH LUÂN CHUYỂN - THĂNG TIẾN
						br
						| Đối với CBNV SOL E&C, cơ hội phát triển và thăng tiến là công bằng dành cho tất cả mọi người, không phân biệt tuổi tác, học vị hay mối quan hệ. Vì vậy, ở SOL E&C, tương lai phát triển nghề nghiệp luôn rõ ràng và rộng mở cho mỗi cá nhân.
					a(href="#")
						img.lazyload(src="./img/tuyen-dung/chinhsach-4.png" alt="")
					p
						strong CHIA SẺ TRÁCH NHIỆM VỚI XÃ HỘI
						br
						| Làm việc tại SOL E&C, bạn sẽ được dịp hoà mình vào các hoạt động xã hội như thăm và tặng quà cho trẻ em nghèo tại các trung tâm trong và ngoài Thành phố, chương trình thăm hỏi gia đình chính sách, cứu trợ đồng bào gặp bão lũ... Các hoạt động thiện nguyện phong phú được xem là cách SOL E&C thể hiện trách nhiệm doanh nghiệp để giúp những cảnh đời bất hạnh có cơ hội vươn lên một cuộc sống tốt đẹp hơn.
		.wrapper-content#panel-2.panel
