section.kv-section.recruitment-detail
	.container
		.row
			.col-xl-9.col-lg-9.col-md-9.col-12
				.title.f-24.fw-700.color-main Giám sát xây dựng
				.bottom-wrapper.d-flex.align-center.justify-between
					time 22/10/2020
					ul.social
						li
							a(href="")
								em.ri-facebook-fill
						li
							a(href="")
								em.ri-linkedin-box-fill
				.full-content
					.content
						table
							tr
								td Vị trí
								td Giám sát xây dựng
							tr
								td Thu nhập bình quân
								td ≥ 300 triệu/năm đối với nhân viên thâm niên ≥ 3.5 năm
							tr
								td
									| Học vấn
								td Tốt nghiệp ngành Xây dựng thuộc các trường Đại học uy tín; Điểm TB tích lũy: ≥ 6.0
							tr
								td
									| Ngoại hình
								td Chiều cao: ≥ 1.65 m
							tr
								td
									| Ngoại ngữ
								td Toeic ≥ 500, giao tiếp được tiếng Anh là một lợi thế
							tr
								td
									| Yêu cầu khác
								td Đam mê, yêu nghề, nhiệt huyết, không ngại khó, kỹ năng giao tiếp, làm việc nhóm tốt
							tr
								td
									| Chế độ
								td Bữa ăn, chỗ ở khi làm việc tại dự án: Công ty đài thọ; Phụ cấp đi lại, bảo hiểm, du lịch...
							tr
								td
									|Thời hạn
								td 29/04/2020
				.list-content
					.img
						img.lazyload(data-src="./img/tuyen-dung/detail.png" alt="")
					.item
						.title.f-16.fw-700.color-gray Mô tả công việc
						ul
							li
								p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
							li
								p Báo cáo kết quả hàng tuần với ban lãnh đạo
							li
								p Thực hiện các công việc được giao
							li
								p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
							li
								p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
					.item
						.title.f-16.fw-700.color-gray quyền lợi được hưởng
						ul
							li
								p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
							li
								p Báo cáo kết quả hàng tuần với ban lãnh đạo
							li
								p Thực hiện các công việc được giao
							li
								p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
							li
								p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
					.item
						.title.f-16.fw-700.color-gray yêu cầu năng lực
						ul
							li
								p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
							li
								p Báo cáo kết quả hàng tuần với ban lãnh đạo
							li
								p Thực hiện các công việc được giao
							li
								p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
							li
								p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
					.item
						.title.f-16.fw-700.color-gray Hồ sơ ứng tuyển
						ul
							li
								p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
							li
								p Báo cáo kết quả hàng tuần với ban lãnh đạo
							li
								p Thực hiện các công việc được giao
							li
								p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
							li
								p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
			.col-lg-3.col-md-3
				.box-apply
					a.btn.btn-apply(href="") Ứng tuyển
					a.btn.btn-down(href="") Tải form ứng viên
				.recuirement-other
					.recuirement-header
						.main-title.fw-700.color-main Vị trí khác
					.recuirement-body
						.row
							-for(i=0; i<5; i++)
								.col-lg-12.col-md-12.col-sm-6.col-6
									.item.d-flex.flex-column
										time 22/10/2020
										a(href="").title.f-16.fw-300.color-main Nhân viên phát triển thị
