.project-page
	position: relative
	padding-top: 0
	.filter-wrapper
		padding: 30px 0
		border-top: solid 2px #dedede
		.wrapper
			margin-right: 50px
			.title
				font-size: 1rem
				line-height: 24px
				font-weight: 700
				color: $gray
				padding-right: 20px
			select
				border-width: 1px
				border-color: rgb(224, 224, 224)
				border-style: solid
				background-color: rgb(255, 255, 255)
				width: 198px
				height: 38px
				padding-left: 18px
				padding-right: 18px
				font-weight: 300
				font-size: 1rem
				color: $gray
				line-height: 24px
				// .dropdown-menu
				// 	border-radius: 0
				// 	ul
				// 		li
				// 			a
				// 				font-weight: 300
				// 				font-size: 1rem
				// 				color: $gray
				// 				line-height: 30px
				// 			&:hover
				// 				a
				// 					color: $main
				// 					font-weight: 700
		@media screen and ( max-width: 1199.98px)
			.wrapper
				.title
					padding-right: 15px
				.dropdown
					.nav-link
						width: auto
						.text
							padding-right: 10px
		@media screen and ( max-width: 991.98px )
			.wrapper
				margin-right: auto
		@media screen and ( max-width: 767.98px )
			.list
				flex-direction: column
				align-items: flex-start
				.wrapper
					width: 100%
					padding-top: 10px
					margin-right: 0
					.title
						width: 40%
					.dropdown
						width: 80%
						.nav-link
							width: 100%
	.list-tabs
		.tabs
			.item
				a
					position: relative
					font-size: 18/16*1rem
					font-weight: 300
					color: $gray
					line-height: 40.14px
				&.active
					background: none
					a
						color: $main
						font-weight: 700
						&::after
							position: absolute
							content: ''
							width: 100%
							height: 2px
							background-color: $main
							top: 100%
							left: 0
							z-index: 99
			@media screen and ( max-width: 991.98px )
				display: none
				.item
					justify-content: center
					&::before
						display: none
	.wrapper-content
		.col-lg-4
			position: static
		.project-item
			position: relative
			margin-bottom: 30px
			.img
				position: relative
				overflow: hidden
				+img-ratio(255/390)
				&::after
					position: absolute
					pointer-events: none
					top: 50%
					left: 50%
					width: 0
					height: 0
					content: ''
					background-color: rgba($color: $black, $alpha: .6)
					transform: translate(-50%, -50%)
					transition: all .8s cubic-bezier(.22, .44, 0, 1)
			.content
				position: absolute
				top: 50%
				left: 50%
				width: 100%
				padding: 0 20px
				opacity: 0
				visibility: hidden
				z-index: 2
				transform: translate(-50%, -50%)
				transition: all 1s cubic-bezier(.22, .44, 0, 1)
				.text
					width: 100%
			.arrow
				content: ""
				position: absolute
				border-style: solid
				border-width: 0 20px 20px 20px
				border-color: $main transparent
				width: 0
				z-index: 10
				margin-top: 10px
				left: 50%
				transform: translateX(-50%)
				display: none
			@media screen and ( min-width: 1024.98px)
				&:hover
					.img
						&::after
							width: 100%
							height: 100%
					.content
						opacity: 1
						visibility: visible
		.project-detail
			position: absolute
			left: 0
			width: 100%
			background-color: #f5f5f5
			z-index: 10
			margin-top: 0
			padding: 60px 0
			display: none
			.main-title
				font-size: 24/16*1rem
				padding-bottom: 0
			.container--tabs
				margin: 0
			.wrap-content
				width: 100%
				height: 590px
				margin-top: 30px
				padding: 30px
				background-color: $white
				box-shadow: 0 0 11px rgba(33,33,33,.2)
				table
					width: 100%
					tr
						border-bottom: solid 1px #e0e0e0
						td
							line-height: 50px
							&:first-child
								font-size: 1rem
								color: $gray
						&:last-child
							border: none
				@media screen and ( max-width: 991.98px )
					table
						tr
							td
								line-height: 40px
								height: auto
				@media screen and ( max-width: 767.98px )
					padding: 15px 30px
					height: auto
					table
						tr
							td
								line-height: 30px
								&:first-child
									width: 50%
				.slide-detail
					position: relative
					display: flex
					width: 100%
					height: 530px
					.gallery-top
						width: 80%
						height: 100%
						margin-right: 10px
						.img
							width: 100%
							height: 100%
							cursor: pointer
							img
								width: 100%
								height: 100%
								object-fit: cover
					.gallery-thumbs
						width: 20%
						height: 100%
						.img
							width: 100%
							height: 100%
							cursor: pointer
							img
								width: 100%
								height: 100%
								object-fit: cover
						.swiper-slide
							.img
								border: solid 1px transparent
							&-thumb
								&-active
									.img
										border: solid 1px $red
					.swiper-button-next,
					.swiper-button-prev
						right: 80px
					.swiper-button-next
						top: -35px
						&::after
							transform: rotate(-90deg)
					.swiper-button-prev
						left: unset
						top: unset
						bottom: -107px
						&::after
							transform: rotate(-90deg)
					@media screen and ( max-width: 991.98px )
						height: auto
						display: block
						.gallery-top
							width: 100%
							margin-right: 0
							margin-bottom: 20px
							.img
								+img-ratio(415/630)
						.gallery-thumbs
							width: 100%
							.img
								+img-ratio(95/140)
