header
	.container
		.main-wrap
			.left-wrap 
				a(href="/")
					img(src="./img/logo.png", alt="")
			.right-wrap 
				.top-wrap 
					.main-language
						.language.dropdown
							a(href="#") VN 
							.dropdown-menu 
								ul.type-none
									li 
										a(href="#") EN 
					.main-menu-top
						ul.menu-list.type-none
							li 
								a(href="#") Contact Us
							li 
								a(href="#") Distribution
					.main-search
						.searchbox
							input(type="text" placeholder="Search... ")
							button(type="submit") 
								em.fa.fa-search
					.button-hambuger
						.burger-bt-inner
							span
				.bottom-wrap 
					ul.menu-list.type-none
						li.has-mega-menu 
							a(href="#") Our Story
							.mega-menu
								ul.mega-list.type-none
									li 
										a(href="#") Overview
									li 
										a(href="#") Vietnamese pride
									li 
										a(href="#") Our breweries
									li 
										a(href="#") Distribution
									li 
										a(href="#") Faqs
							span.arrow-down-mobile
						li.has-mega-menu 
							a(href="#") Our brands
							.mega-menu
								ul.mega-list.type-none
									li.has-mega-child
										a(href="#") Bear 
										.mega-menu 
											ul.mega-list.type-none
												li 
													a(href="#") Saigon Special
												li 
													a(href="#") Sai Gon Export
												li 
													a(href="#") Saigon Larger
												li 
													a(href="#") 333 Export
												li 
													a(href="#") Saigon Gold
										span.arrow-down-mobile
									li 
										a(href="#") Alcohol
									li 
										a(href="#") Beverage
							span.arrow-down-mobile
						li.has-mega-menu
							a(href="#") Investors
							.mega-menu
								ul.mega-list.type-none
									li 
										a(href="#") information disclosure
									li 
										a(href="#") financial statements
									li 
										a(href="#") annual general meetings
									li 
										a(href="#") annual reports
									li 
										a(href="#") corporate governancE
									li 
										a(href="#") investor news
							span.arrow-down-mobile
						li 
							a(href="#") Sustainability
						li 
							a(href="#") Newsroom
						li.has-mega-menu
							a(href="#") Careers
							.mega-menu
								ul.mega-list.type-none
									li 
										a(href="#") Recruitment
									li 
										a(href="#") Working Culture at sabeco
							span.arrow-down-mobile
	.mobile-wrap 
		.language-social
