header.kv-header
	nav.navbar
		.container.d-flex.align-center
			.navbar-brand
				a(href="index.html")
					img.lazyload(data-src="./img/logo.png" alt="")
			.navbar-right.d-flex.align-center.ml-auto
				.header-icons.d-flex.align-center
					.language
						a.text-uppercase.f-22.fw-500.text-gray(href="") vn
						a.text-uppercase.f-22.fw-500.text-gray(href="") en
					.btn-search
						em.ri-search-line
				.kv-toggle
					span
					span
					span
					span
			.main-nav.transition
				.container
					.logo-main-menu
					.row
						.col-lg-3.col-md-6.col-sm-6
							.item
								.nav-title.f-25.fw-700.color-white
									a(href="tong-quan.html") Giới thiệu về SOL
									span.ri-arrow-drop-down-line
								ul
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="thong-diep.html") Thông điệp Tổng Giám đốc

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="tong-quan.html") Về SOL

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="van-hoa.html") Văn hoá doanh nghiệp
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="ban-lanh-dao.html") Bạn lãnh đạo
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="khac-biet-sol.html") Khác biệt của SOL
						.col-lg-3.col-md-6.col-sm-6
							.item
								.nav-title.f-25.fw-700.color-white
									a(href="linh-vuc.html") Lĩnh vực hoạt động
									span.ri-arrow-drop-down-line
								ul
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Xây lắp

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Thương mại

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Đầu tư
						.col-lg-3.col-md-6.col-sm-6
							.item
								.nav-title.fw-700.color-white.f-25
									a(href="du-an.html") Dự án
									span.ri-arrow-drop-down-line
								ul
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Công nghiệp

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Dân dụng - Thương mại

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Khách sạn - Khu nghỉ mát
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="") Giáo dục
						.col-lg-3.col-md-6.col-sm-6
							.item
								.nav-title.fw-700.color-white.f-25
									a(href="") Cuộc sống tại SOL
									span.ri-arrow-drop-down-line
								ul
									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="chinh-sach-nhan-su.html") Chính sách nhân sự

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="dai-gia-dinh-sol.html") Đại gia đình SOL

									li.nav-item
										a.nav-link.f-20.fw-500.color-white(href="tuyen-dung.html") Tuyển dụng
						.col-lg-3.col-md-4.col-sm-6
							.item
								.nav-title.fw-700.color-white.f-25
									a(href="tin-tuc.html") Tin tức - Sự kiện
						.col-lg-3.col-md-4.col-sm-6
							.item
								.nav-title.fw-700.color-white.f-25
									a(href="khach-hang.html") Khách hàng - Đối tác
						.col-lg-3.col-md-4.col-sm-6
							.item
								.nav-title.fw-700.color-white.f-25
									a(href="lien-he.html") Thông tin liên hệ
					.menu-icons
						ul.d-flex.align-center
							li
								a(href="")
									img(src="./img/icon/face.png" alt="")
							li
								a(href="")
									img(src="./img/icon/youtube.png" alt="")
							li
								a(href="")
									img(src="./img/icon/inlink.png" alt="")
				.close
					em.f-40.color-white.fw-900.ri-close-fill
	.search-wrapper.transition
		.container
			.form-group.d-flex.align-center
				input(type="text" placeholder="Tìm sản phẩm...")
				button.searchbutton.btn.btn__search
					em.ri-search-line
		.close
			em.f-40.color-white.fw-900.ri-close-fill



