section#home-banner
	.home-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slide-inner
						img.lazyload(data-src="./img/banner/b-1.png", alt="")
						.content
							.container.d-flex.justify-end
								.text MORE THAN CONSTRUCTION
				.swiper-slide
					.slide-inner
						img.lazyload(data-src="./img/banner/b-2.png", alt="")
						.content
							.container.d-flex.justify-end
								.text MORE THAN CONSTRUCTION
		.swiper-button-next
		.swiper-button-prev
