section.kv-section.news-list
	.container
		.main-title.color-main tin tức
		.big-img.zoom-img
			.row
				.col-lg-7.col-md-6
					.img
						a(href="tin-tuc-chi-tiet.html")
							img.lazyload(data-src="./img/tin-tuc/item-1.png" alt="")
				.col-lg-5.col-md-6
					.content
						.title
							a.fw-800.f-20.line-30.color-main(href="tin-tuc-chi-tiet.html") SOL áp dụng công nghệ chống thấm POLYUREA tại công trường trọng điểm
						time 22/10/2021
						.desc.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
						a.btn.btn-viewmore(href="") Xem thêm
		.big-img.zoom-img
			.row
				.col-lg-7.col-md-6
					.img
						a(href="tin-tuc-chi-tiet.html")
							img.lazyload(data-src="./img/tin-tuc/item-1.png" alt="")
				.col-lg-5.col-md-6
					.content
						.title
							a.fw-800.f-20.line-30.color-main(href="tin-tuc-chi-tiet.html") SOL áp dụng công nghệ chống thấm POLYUREA tại công trường trọng điểm
						time 22/10/2021
						.desc.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
						a.btn.btn-viewmore(href="") Xem thêm
		.big-img.zoom-img
			.row
				.col-lg-7.col-md-6
					.img
						a(href="tin-tuc-chi-tiet.html")
							img.lazyload(data-src="./img/tin-tuc/item-1.png" alt="")
				.col-lg-5.col-md-6
					.content
						.title
							a.fw-800.f-20.line-30.color-main(href="tin-tuc-chi-tiet.html") SOL áp dụng công nghệ chống thấm POLYUREA tại công trường trọng điểm
						time 22/10/2021
						.desc.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
						a.btn.btn-viewmore(href="") Xem thêm
		.big-img.zoom-img
			.row
				.col-lg-7.col-md-6
					.img
						a(href="tin-tuc-chi-tiet.html")
							img.lazyload(data-src="./img/tin-tuc/item-1.png" alt="")
				.col-lg-5.col-md-6
					.content
						.title
							a.fw-800.f-20.line-30.color-main(href="tin-tuc-chi-tiet.html") SOL áp dụng công nghệ chống thấm POLYUREA tại công trường trọng điểm
						time 22/10/2021
						.desc.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
						a.btn.btn-viewmore(href="") Xem thêm
		.big-img.zoom-img
			.row
				.col-lg-7.col-md-6
					.img
						a(href="tin-tuc-chi-tiet.html")
							img.lazyload(data-src="./img/tin-tuc/item-1.png" alt="")
				.col-lg-5.col-md-6
					.content
						.title
							a.fw-800.f-20.line-30.color-main(href="tin-tuc-chi-tiet.html") SOL áp dụng công nghệ chống thấm POLYUREA tại công trường trọng điểm
						time 22/10/2021
						.desc.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Quis ipsum suspendisse ultrices gravida.Quis ipsum suspendisse ultrices gravida.
						a.btn.btn-viewmore(href="") Xem thêm
